.bg-login {
   /*  background-image: url("{% static 'img/bg.jpg' %}"); */
   background-image: url(../img/bg.jpg);
   height: 90%;
   overflow: hidden;
   scrollbar-width: none;
}
.bg-tp {
   
   background-color: aqua;
}