.calendar {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
    margin: 2em 0;
    width: 50px;
    
    
} 
.day{ 
    padding: 0.5em;
    font-size: 5;
    border: 0.5px solid #ccc;
    text-align: center;
    background: gold;
    width: 65;

}
.header {
    padding: 0.5em;
    font-size: 5;
    border: 0.5px solid #ccc;
    text-align: center;
    background-color: teal;
    width: 65;
}
.day, .hr{
    height: 30px;
}
.header { 
    background-color: #f3f3f3;
}
.today { 
    background-color: navy;
}
