{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SCIDAC - SCHOOL </title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet">


</head>

<body id="page-top">

    <div id="wrapper">

        <!-- Sidebar -->
        <ul id="accordionSidebar" class="navbar-nav sidebar sidebar-dark accordion collapse" aria-labelledby="sidebarToggle">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
            </a>
      
            <hr class="sidebar-divider my-0">
      
            <!-- Item Navigasi -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Beranda</span>
                </a>
            </li>
      
            <hr class="sidebar-divider">
      
            <div class="sidebar-heading">Menu</div>
      
            <li class="nav-item">
                <a class="nav-link collapsed" href="/math-math">
                    <span>Matematika</span>
                </a>
            </li>
      
            <li class="nav-item">
                <a class="nav-link collapsed" href="/science-sc">
                    <span>Science</span>
                </a>
            </li>
      
            <li class="nav-item">
                <a class="nav-link collapsed" href="/religi-rlg">
                    <span>Islamic</span>
                </a>
            </li>
      
            <li class="nav-item">
                <a class="nav-link collapsed" href="/school-school">
                    <span>School</span>
                </a>
            </li>
      
            <hr class="sidebar-divider">
            <div class="sidebar-heading">Account & Settings</div>
      
            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-light-400"></i>
                    <span>Settings</span>
                </a>
            </li>
      
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->
      
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
      
          <!-- Main Content -->
          <div id="content">
      
            <!-- Topbar -->
            <nav style="background-color: #F0BB78;" class="navbar navbar-expand navbar bg topbar mb-4 static-top shadow">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#accordionSidebar" aria-controls="accordionSidebar" aria-expanded="false" aria-label="Toggle Sidebar"><img src="{% static 'img/undraw_profile.svg'%}" alt="menu">
            
              </button>
      
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown no-arrow d-sm-none">
                      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-search fa-fw"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                          <form class="form-inline mr-auto w-100 navbar-search">
                              <div class="input-group">
                                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                      <button class="btn btn-primary" type="button">
                                          <i class="fas fa-search fa-sm"></i>
                                      </button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </li>
      
                  <div class="topbar-divider d-none d-sm-block"></div>
      
                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span style="color: white;" class="mr-2 d-none d-lg-inline text-600 small">{{user.username}}</span>
                          <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg'%}">
                      </a>
                  </li>
              </ul>
            </nav>
          </div>
          <!-- End of Main Content -->
      
          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>by &copy; sajakCodingan</span> &nbsp;&nbsp;&nbsp;&nbsp; <br>
                      <span>&copy; Muhammad Yahya Abdullahissalam</span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->
      
        </div>
      </div>
      
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
      </body>
      </html>
      
